{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- CREATE BLOG FORM
  ------------------------------------------------------>
  <h2 class="my-5">{{ titleForm }}</h2>
  <section class="row justify-content-center mr-4">

    <!-- CREATE BLOG FORM
    ------------------------------------------------------>
    <article class="col">
      <h4 class="my-5 text-center">Formulaire de création</h4>
      {{ form_start(formBlog) }}
      <div class="form-row">
        <div class="form-group col my-3">
          {{ form_row(formBlog.title) }}
        </div>
        <div class="form-group col my-3">
          {{ form_row(formBlog.category) }}
        </div>
      </div>
      <div class="form-group my-3">
        {{ form_row(formBlog.file) }}
      </div>
      <div class="form-group my-3">
        {{ form_row(formBlog.content) }}
      </div>
      <div class="form-group my-3">
        {{ form_row(formBlog.submit) }}
      </div>
      {{ form_end(formBlog) }}
    </article>
  </section>
  <h4 class="my-5 text-center">{{ titleImage }}</h4>
  <div section class="row justify-content-center mr-4">
    {% for picture in blogPictures %}
      <div class="col mb-4">
        <a class="alert-link" href="{{ path('blog_delete_photo', {'picId': picture.id, 'id': picture.blog.id}) }}">
          <img class="position-absolute m-1" src="{{ asset("images/icons/delete.svg") }}" alt="delete-icon"
               width="30px">
        </a>
        <img width="100%" src="{{ asset('images/uploaded/'~picture.name | e) }}" alt="{{ picture.alt }}">
      </div>
    {% endfor %}
  </div>

{% endblock %}