{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- BLOG INDEX CONTENT
  ------------------------------------------------------>
  <h2 class="my-5">Modification des articles</h2>
  <section class="row justify-content-center mr-4">
    <article class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Date de création</th>
          <th scope="col">Date de modification</th>
          <th scope="col">Modifications</th>
        </tr>
        </thead>
        <tbody>
        {% for oneBlog in listBlogs %}
          {% if (oneBlog.trash == 0) and (oneBlog.moderate) == 1 %}
            <tr>
              <th scope="row">{{ oneBlog.title }}</th>
              <td>{{ oneBlog.user.username }}</td>
              <td>Le {{ oneBlog.createdAt | date('d/m/Y à H:i') }}</td>
              <td>{{ oneBlog.updatedAt ? oneBlog.updatedAt | date('d/m/Y à H:i') : ''}}</td>
              <td>
                <a href="{{ path('blog_show', {'id': oneBlog.id}) }}" class="admin-button btn btn-primary btn-sm">Voir</a>
                <a href="{{ path('blog_update', {'id': oneBlog.id}) }}" class="admin-button btn btn-primary btn-sm">Modifier</a>
                <a href="{{ path('blog_trash', {'id': oneBlog.id }) }}" class="admin-button btn btn-danger btn-sm">Corbeille</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {% if listBlogs is empty %}
        <aside class="my-5">
          <h5 class="my-5 text-center">Aucun article n'a été publié</h5>
        </aside>
      {% endif %}
    </article>
  </section>

  <!-- PAGINATION
  ------------------------------------------------------>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for p in range(1, nbPages) %}
          <li {% if p != page %}class="page-item" {% endif %} class="page-item active" >
            <a class="page-link" href="{{ path('blog_admin_index', {'page': p}) }}">{{ p }}</a>
          </li>
        {% endfor %}
    </ul>
  </nav>

{% endblock %}
