{% extends 'base.html.twig' %}

{% block body %}

  <!-- BANNER
  ------------------------------------------------------>
  {% block topSlider %}{% endblock %}
  <header class="masthead2">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-white">le restaurant</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">voir les menus</a>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">réserver</a>
      </div>
    </div>
  </header>

  <!-- CONTACT CONTENT
  ------------------------------------------------------>
  <section class="m-5">

    <!-- DECRIPTION
    ------------------------------------------------------>
    <h1 class="my-5 separate-top">Le restaurant</h1>
    <article class="row justify-content-center my-5" id="main-title">
      <aside class="col-6 offset-1 align-self-center">
        <p>Ce projet d’établissement est le fruit d’une réflexion des équipes de la Maison d’Enfants à Caractère Social
          (MECS) de l’Association JEAN GAILHAC. Amenés à le modifier suite au passage en CROSMS du 11 novembre 2010 et à
          la restructuration globale de l’Association à l’horizon de septembre 2011, nous nous sommes appuyés sur les
          compétences déjà mises en œuvre dans le précédent projet d’établissement pour pouvoir articuler 2 nouveaux
          services à la Maison d’Enfants, à savoir le Service d’Accompagnement Familial (SAF) et ses places Relai et les
          deux places d’Urgence mises à disposition au Service d’Urgence Départemental (SUD) du Foyer Départemental de
          l’Enfance et de la Famille (FDEF). Intégrée dans le Pôle « accueil et accompagnement avec hébergement »,
          la MECS et le SAF se complètent de l’intervention d’un autre Service à destination principalement des Jeunes
          Majeurs, le Service d’Accompagnement à l’Autonomie (SAA). Inscrites dans le schéma départemental 2008/2012 du
          Conseil Général de l’HERAULT, les données de cadrage mettent en avant la nécessité de diversifier les
          modalités
          d’accueil au sein des établissements sociaux. Nous appuyant sur le rapport d’évaluation interne de
          l’Association, sur les différentes notes afférentes à la démarche qualité, sur l’ancien projet
          d’établissement,
          nous avons mené un travail de réflexion pour arriver à créer une palette de réponses plus conformes aux
          besoins
          des jeunes accueillis. Nous avons aussi pris en compte les orientations des politiques publiques sociales et
          les
          recommandations de nos autorités de tarification et de bonnes pratiques de l’ANESMS pour offrir des
          prestations
          susceptibles de permettre un accueil et un accompagnement de qualité. Le Conseil d’Administration de notre
          Association a validé ce projet d’établissement dans sa séance du 22 octobre 2012. Celui-ci ne tient compte que
          de la réalité de fonctionnement du groupe 4 de la MECS à POUSSECQ. L’extension pour la MECS fera l’objet d’un
          avenant au présent projet d’établissement.Ce projet d’établissement est le fruit d’une réflexion des équipes
          de la Maison d’Enfants à Caractère Social
          (MECS) de l’Association JEAN GAILHAC. Amenés à le modifier suite au passage en CROSMS du 11 novembre 2010 et à
          la restructuration globale de l’Association à l’horizon de septembre 2011, nous nous sommes appuyés sur les
          compétences déjà mises en œuvre dans le précédent projet d’établissement pour pouvoir articuler 2 nouveaux
          services à la Maison d’Enfants, à savoir le Service d’Accompagnement Familial (SAF) et ses places Relai et les
          deux places d’Urgence mises à disposition au Service d’Urgence Départemental (SUD) du Foyer Départemental de
          l’Enfance et de la Famille (FDEF). Intégrée dans le Pôle « accueil et accompagnement avec hébergement »,
          la MECS et le SAF se complètent de l’intervention d’un autre Service à destination principalement des Jeunes
          Majeurs, le Service d’Accompagnement à l’Autonomie (SAA). Inscrites dans le schéma départemental 2008/2012 du
          Conseil Général de l’HERAULT, les données de cadrage mettent en avant la nécessité de diversifier les
          modalités
          d’accueil au sein des établissements sociaux. Nous appuyant sur le rapport d’évaluation interne de
          l’Association, sur les différentes notes afférentes à la démarche qualité, sur l’ancien projet
          d’établissement,
          nous avons mené un travail de réflexion pour arriver à créer une palette de réponses plus conformes aux
          besoins
          des jeunes accueillis.</p>
      </aside>
      <aside class="col-4">
        <img width="100%" class="my-3" src="{{ asset('images/icons/restaurant.jpeg') }}" alt="">
        <img width="100%" class="my-3" src="{{ asset('images/icons/restaurant.jpeg') }}" alt="">
      </aside>
    </article>

    <!-- OUR PROJECT
    ------------------------------------------------------>
    <hr class="separate-top">
    <h2>Notre projet</h2>
    <article class="row justify-content-center my-5">
      <aside class="col-6 offset-1">
        <p class="mb-5">JEAN GAILHAC, Prêtre, né à Béziers en 1802, y fonde, dans un premier temps, un refuge pour des
          prostituées et
          des
          filles mères. Dans un deuxième temps, en 1834, il crée l’orphelinat du Bon Pasteur, qu’il confiera à la
          congrégation des Religieuses du Sacré-Cœur de Marie, fondée par ses soins en 1849. La congrégation fut
          reconnue
          d’utilité publique pour son action en faveur de cette dernière œuvre. Le 29 août 1966 (date de parution au
          J.O),
          l’Association du Sacré-Cœur de Marie, loi 1901, fut créée par la congrégation pour gérer l’orphelinat du
          Sacré-Cœur de Marie (ex. : Bon Pasteur). Le 14 Janvier 1971, la DDASS de l’Hérault habilite l’orphelinat qui
          devient une Maison d’Enfants à Caractère Social (MECS), pour 48 places en internat. Le 26 septembre 1990
          (date de parution au J.O N° 39), « l’Association Sacré- Cœur de Marie » prend le nom du Père fondateur et
          devient
          « Association JEAN GAILHAC ».</p>
      </aside>
    </article>
    <article class="row justify-content-center my-5">
      <aside class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b5ZrIORyhs4" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>En référence à la charte de la personne accueillie (annexée au livret d’accueil du SAA) et par fidélité à
          l’esprit fondateur, l’Association JEAN GAILHAC, d’inspiration chrétienne, traduit ainsi ses valeurs :</p>
        <ul>
          <li>Accueillir et respecter les plus défavorisés avec le souci d’adapter les réponses aux besoins de la
            personne.
          </li>
          <li>Reconnaître les ressources de vie présentes en chacun et en favoriser l’épanouissement.</li>
          <li>Prendre en compte la dimension spirituelle comme faisant partie intégrante de la personne humaine.</li>
          <li>Garantir la liberté dans la recherche, la formation, l’expression et la célébration de la religion de
            chacun, à l’exception de tout mouvement sectaire, par le respect des différences et des cheminements
            personnels.
          </li>
        </ul>
      </aside>
      <aside class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b5ZrIORyhs4" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>En référence à la charte de la personne accueillie (annexée au livret d’accueil du SAA) et par fidélité à
          l’esprit fondateur, l’Association JEAN GAILHAC, d’inspiration chrétienne, traduit ainsi ses valeurs :</p>
        <ul>
          <li>Accueillir et respecter les plus défavorisés avec le souci d’adapter les réponses aux besoins de la
            personne.
          </li>
          <li>Reconnaître les ressources de vie présentes en chacun et en favoriser l’épanouissement.</li>
          <li>Prendre en compte la dimension spirituelle comme faisant partie intégrante de la personne humaine.</li>
          <li>Garantir la liberté dans la recherche, la formation, l’expression et la célébration de la religion de
            chacun, à l’exception de tout mouvement sectaire, par le respect des différences et des cheminements
            personnels.
          </li>
        </ul>
      </aside>
      <aside class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b5ZrIORyhs4" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>En référence à la charte de la personne accueillie (annexée au livret d’accueil du SAA) et par fidélité à
          l’esprit fondateur, l’Association JEAN GAILHAC, d’inspiration chrétienne, traduit ainsi ses valeurs :</p>
        <ul>
          <li>Accueillir et respecter les plus défavorisés avec le souci d’adapter les réponses aux besoins de la
            personne.
          </li>
          <li>Reconnaître les ressources de vie présentes en chacun et en favoriser l’épanouissement.</li>
          <li>Prendre en compte la dimension spirituelle comme faisant partie intégrante de la personne humaine.</li>
          <li>Garantir la liberté dans la recherche, la formation, l’expression et la célébration de la religion de
            chacun, à l’exception de tout mouvement sectaire, par le respect des différences et des cheminements
            personnels.
          </li>
        </ul>
      </aside>
    </article>

    <!-- IMAGES GALLERY
    ------------------------------------------------------>
    <hr class="separate-top">
    <h2 class="my-5">Galerie photo</h2>
    <!-- ROW 1
    ------------------------------------------------------>
    <article class="row justify-content-center my-4" id="resto-gallery">
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 1"/>
        </a>
      </aside>
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 2"/>
        </a>
      </aside>
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 2"/>
        </a>
      </aside>
    </article>

    <!-- ROW 2
    ------------------------------------------------------>
    <article class="row justify-content-center my-4" id="resto-gallery">
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 1"/>
        </a>
      </aside>
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 2"/>
        </a>
      </aside>
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 2"/>
        </a>
      </aside>
    </article>

    <!-- ROW 3
    ------------------------------------------------------>
    <article class="row justify-content-center my-4" id="resto-gallery">
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 1"/>
        </a>
      </aside>
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 2"/>
        </a>
      </aside>
      <aside class="col">
        <a href="{{ asset('images/icons/restaurant.jpeg') }}" class="thumbnail" data-gallery="gallery1">
          <img src="{{ asset('images/icons/restaurant.jpeg') }}" alt="Image 2"/>
        </a>
      </aside>
    </article>

  </section>

{% endblock %}
