/* UNIQUE ELEMENTS
========================================================================================== */
/* Images
---------------------------------------------- */
#main-logo {
  width: 110px;
  margin: 0;
}

#parralax1 {
  max-width: 100%;
}

.articles {
  max-width: 100%;
}

/* Main nav
---------------------------------------------- */
nav {
  text-align: center;

  a {
    text-transform: uppercase;
    font-weight: bolder;
  }

  .social-icon {
    width: 30px;
  }
}

/* Footer
---------------------------------------------- */
   #wood-elt {
     height: 70px;
     background: url("../images/icons/wood.jpg");
     -webkit-background-size: cover; /* pour anciens Chrome et Safari */
     background-size: cover; /* version standardisée */
  }

   .menu-header {
     background: url("../images/icons/wood.jpg");
     -webkit-background-size: cover; /* pour anciens Chrome et Safari */
     background-size: cover; /* version standardisée */
   }

  #footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0% 3% 0% 3%;

    .social-icon {
      width: 30px;
      margin: 5%
    }

    a {
      text-decoration: none ;
      display: block;
      color: white;
      text-align: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      line-height: 2.5em;
    }

    a:hover {
      text-decoration: none;
      color: white;
    }

    h5 {
      color: white !important;
    }
  }

h1 {
  text-align: center;
}

.col {
  marign: 5%;
}

/* PAGES
========================================================================================== */
/* Pages home
---------------------------------------------- */
.row {
  margin-right: 0px !important;
}
h2 {
  text-align: center;
}

#services {
  text-align: center;
  img {
    width: 70px;
  }

  p {
    font-weight: bold;
  }
}

/* Page restaurant
---------------------------------------------- */
#resto-gallery {
  img {
    width: 100%;
  }
}

#main-title {
  img {
    width: 100%;
  }
}

/* ADMIN
========================================================================================== */
/* Page dashboard
---------------------------------------------- */
#dashboard-nav {
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.admin-button {
  width: 100px;
  margin: 2%;
}

.form-group {
  margin-bottom: 0px !important;
}

/* MESSAGES FLASH
========================================================================================== */
/* Notice
---------------------------------------------- */
#flash-courgette-notice {
  position: absolute;
  right: 70px;
  top: 30px;
  width: 40%;
}

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 1);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../images/icons/home.jpeg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../images/icons/home.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead2 {
  position: relative;
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../images/icons/wood.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../images/icons/wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-size: 1.5rem !important;
  line-height: 2.5rem !important;
  letter-spacing: 0.8rem !important;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem !important;
  font-size: 1rem !important;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem !important;
    line-height: 4rem !important;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh !important;
    padding: 0;
  }
  .masthead h1 {
    font-size: 3.5rem !important;
    line-height: 3.5rem !important;
    letter-spacing: 0.8rem !important;
  }
  .masthead h2 {
    max-width: 30rem !important;
    font-size: 1.25rem !important;
  }
}

 #separate {
   margin-top: 170px !important;
   margin-bottom: 170px !important;
 }

 .separate-top {
   margin-top: 170px !important;
 }

.separate-bottom {
  margin-bottom: 170px !important;
}

 #day-menu-elt {
   color: white !important;
   text-shadow: black 1px 0 20px;
}

#dashboard-nav {
  .active {
    background-color: rgba(83, 40, 40, 0.06) !important;
    border-color: transparent;
    font-size: 1.2em;
    text-shadow: #ffffff 1px 0 20px;
    line-height: 10px;
  }
}




