{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <h2 class="my-5">Liste de reservations</h2>
  <section class="row justify-content-center mr-4">
    <article class="col-8 text-center">
      <h4 class="my-4">rechercher des réservation</h4>
      <form action="" method="post">
        <div class="form-row justify-content-center">
          <div class="form-group col-3 m-3">
            <input style="width: 100%;" type="text" class="form-control datepicker" name="dateDebut" id="dateDebut"
                   placeholder="date de début">
          </div>
          <div class="form-group col-3 m-3">
            <input style="width: 100%;" type="text" class="form-control datepicker" name="dateFin" id="dateFin"
                   placeholder="date de fin">
          </div>
        </div>
        <div class="form-group my-3">
          <input type="submit" class="btn btn-primary" value="Rechercher">
        </div>
      </form>
    </article>
  </section>
  {% if resultat %}
    {% for reservation in resultat %}
      <section class="row justify-content-center mr-4">
      <article class="col">
      <h4 class="my-4">liste des réservation</h4>
      <table class="table table-hover">
        <thead>
        <td class="col"> Descritpion</td>
        <td class="col"> Membre ayant reserver</td>
        <td class="col"> Nombre de personne</td>
        <td class="col"> date</td>
        <td class="col"> heure</td>
        </thead>
        <tbody>
        <tr class="bg-primary text-white">
          <td class="col-3"><h5>{{ reservation.description }}</h5></td>
          </td>
          <td class="col-3">
            {% for user in users %}
              {% if user == reservation.user %}
                {{ user.username }}
              {% endif %}
            {% endfor %}</td>
          <td class="col-1">{{ reservation.nbPerson }}</td>
          <td class="col-1">{{ reservation.reservationAt|date("Y/m/d") }}</td>
          <td class="col-1">{{ reservation.hoursAt|date("H:i") }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>{% for menu in menuResa %}
            {{ dump (menu) }}
            {# {{ if reservation.id == menu.resservation }} #}
            {{ menu|length }}
            {# {% endif %} #}
          {% endfor %}
        </tr>
        </tfoot>
      </table>
      </div>
    {% endfor %}
    </article>
    </section>
  {% endif %}
  {% if reservation %}
    {% for reservation in reservation %}
      <section class="row justify-content-center mr-4">
      <article class="col">
      <h4 class="my-4">liste des réservation</h4>
      <table class="table table-hover">
        <thead>
        <td class="col"> Descritpion</td>
        <td class="col"> Membre ayant reserver</td>
        <td class="col"> Nombre de personne</td>
        <td class="col"> date</td>
        <td class="col"> heure</td>
        </thead>
        <tbody>
        <tr>
          <td class="col-3"><h5>{{ reservation.description }}</h5></td>
          <td class="col-3">
            {% for user in users %}
              {% if user == reservation.user %}
                {{ user.username }}
              {% endif %}
            {% endfor %}</td>
          <td class="col-1">{{ reservation.nbPerson }}</td>
          <td class="col-1">{{ reservation.reservationAt|date("Y/m/d") }}</td>
          <td class="col-1">{{ reservation.hoursAt|date("H:i") }}</td>
          <a href="{{ path('show_reservation_id', {'id': reservation.id}) }}" class="btn btn-default">
        </tr>
        </tbody>
        <thead>
        <tr>
          {% for menu in menuResa %}
            {% if reservation.id == menu.reservation %}

              {{ menuResa|length }}

            {% endif %}
          {% endfor %}
        </tr>
        </thead>
      </table>
      </div>
    {% endfor %}
  {% endif %}
  </div>

  </article>
  </section>
{% endblock %}