{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <section class="container">
    <div class="card">
      <div class="card-header">Les Reservation</div>

      <div class="card-body">
        <table class="table">

          <thead>
          <td class="col-3"> Descritpion</td>
          <td class="col-3"> Membre ayant reserver</td>
          <td class="col-1"> Nombre de personne</td>
          <td class="col-1"> date</td>
          <td class="col-1"> heure</td>
          </thead>
          <tbody>
          <tr class="bg-primary text-white">
            <td class="col-3"><h5>{{ reservation.description }}</h5></td>
            </td>
            <td class="col-3">
              {% for user in users %}
                {% if user == reservation.user %}
                  {{ user.username }}
                {% endif %}
              {% endfor %}</td>
            <td class="col-1">{{ reservation.nbPerson }}</td>
            <td class="col-1">{{ reservation.reservationAt|date("Y/m/d") }}</td>
            <td class="col-1">{{ reservation.hoursAt|date("H:i") }}</td>
            <a href="{{ path('show_reservation_id', {'id': reservation.id}) }}" class="btn btn-default">
          </tr>
          </tbody>
          <tfoot>
          <th>Les menus reserver</th>
          <tr>


            {% for resa in allMenu %}
              {% if reservation.id == resa.reservation %}
                {% for menu in menus %}
                  {% if menu.id == resa.menu %}
                    <td><a href="{{ path('show_menu_id', {'id': menu.id}) }}" class="btn btn-default">
                        -{{ menu.name }} <br>{{ menu.price }}</a></td>
                  {% endif %}
                {% endfor %}
              {% endif %}

            {% endfor %}


          </tr>

          </tfoot>
        </table>
      </div>


    </div>


  </section>
{% endblock %}