{% extends 'base.html.twig' %}

{% block body %}

  {% block topSlider %}{% endblock %} <!-- Hide header -->

  <!-- SUBSCRIPTION FORM
  ------------------------------------------------------>
  <section class="row justify-content-center my-5">
    <article class="col-6">
      <div class="modal-dialog" role="document">
        <div class="modal-content p-5">
          <div class="text-center">
            <img class="text-center" id="main-logo" src="{{ asset('images/icons/logo.png') }}" alt="logo">
          </div>
          <h3 class="my-5 text-center">Formulaire d'inscription</h3>
          {{ form_start(form) }}
          <div class="form-row">
            <div class="form-group col">
              {{ form_row(form.username) }}
            </div>
            <div class="form-group col">
              {{ form_row(form.mail) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_row(form.password) }}
          </div>
          <div class="form-group">
            {{ form_row(form.confirm_password) }}
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </article>
  </section>

  {% block bottomSlider %}{% endblock %} <!-- Hide footer -->

{% endblock %}
