{% extends 'base.html.twig' %}

{% block body %}

  <!-- BANNER
  ------------------------------------------------------>
  {% block topSlider %}{% endblock %}
  <header class="masthead2">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-white">contactez-nous</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">voir les menus</a>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">réserver</a>
      </div>
    </div>
  </header>

  <!-- CONTACT CONTENT
  ------------------------------------------------------>
  <section class="m-5">

    <!-- CONTACT FORM
    ------------------------------------------------------>
    <h1 class="my-5">Contactez-nous</h1>
    <article class="row justify-content-center my-2">
      <aside class="col-8">
        {{ form_start(contact_form) }}
        <div class="form-row">
          <div class="form-group col">
            {{ form_row(contact_form.firstname) }}
          </div>
          <div class="form-group col">
            {{ form_row(contact_form.lastname) }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            {{ form_row(contact_form.mail) }}
          </div>
          <div class="form-group col">
            {{ form_row(contact_form.phone) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_row(contact_form.subject) }}
        </div>
        <div class="form-group">
          {{ form_row(contact_form.message) }}
        </div>
        {{ form_end(contact_form) }}
      </aside>
    </article>

    <!-- CONTACT INFO & MAPS
    ------------------------------------------------------>
    <article class="row justify-content-center my-2">
      <aside class="col-4">
        <h2 class="my-5">Nous trouver</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2901.3391063412437!2d3.2110628152122245!3d43.349016880065335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b10e894ce64187%3A0xb97dc274dcc6719c!2sMaison+Enfants+Jean+Gailhac+Association!5e0!3m2!1sfr!2sfr!4v1536841628971" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </aside>
      <aside class="col-4">
        <h2 class="my-5">Informations de contact</h2>
        <p>Adresse : 38 Boulevard d'Angleterre, 34500 Béziers</p>
        <p>Téléphone : 04 67 49 87 00</p>
        <p>Mail direction : <a href="mailto:direction@mail.fr">direction@mail.fr</a></p>
        <p>Mail secretariat : <a href="mailto:secretariat@mail.fr">secretariat@mail.fr</a></p>
        <p>Mail cuisine : <a href="mailto:cuisine@mail.fr">cuisine@mail.fr</a></p>
      </aside>
    </article>

  </section>

{% endblock %}
