{% extends 'base.html.twig' %}

{% block body %}

  <!-- HOME PAGE
  ------------------------------------------------------>
  <section class="m-5">

    <!-- INFOS
    ------------------------------------------------------>
    <article class="row justify-content-center" id="separate">
      <aside class="col-4">
        <img width="100%" src="{{ asset('images/icons/restaurant.jpeg') }}" alt="">
      </aside>
      <aside class="col-6 offset-1 align-self-center">
        <h2>lorem ipsum ammet sit dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus corporis dolor doloremque est eveniet
          facilis, fuga illum inventore minima optio provident quos, rem reprehenderit repudiandae, ut vel. Aperiam,
          ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus corporis dolor doloremque est
          eveniet
          facilis, fuga illum inventore minima optio provident quos, rem reprehenderit repudiandae, ut vel. Aperiam,
          ducimus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus corporis dolor doloremque est
          eveniet
          facilis, fuga illum inventore minima optio provident quos, rem reprehenderit repudiandae, ut vel. Aperiam,
          ducimus.</p>
      </aside>
    </article>
    <article class="row justify-content-center" id="separate">
      <aside class="col-6 offset-1 align-self-center">
        <h2>lorem ipsum ammet sit dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus corporis dolor doloremque est eveniet
          facilis, fuga illum inventore minima optio provident quos, rem reprehenderit repudiandae, ut vel. Aperiam,
          ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus corporis dolor doloremque est
          eveniet
          facilis, fuga illum inventore minima optio provident quos, rem reprehenderit repudiandae, ut vel. Aperiam,
          ducimus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus corporis dolor doloremque est
          eveniet
          facilis, fuga illum inventore minima optio provident quos, rem reprehenderit repudiandae, ut vel. Aperiam,
          ducimus.</p>
      </aside>
      <aside class="col-4">
        <img width="100%" src="{{ asset('images/icons/restaurant2.jpg') }}" alt="">
      </aside>
    </article>

    <!-- SERVICES
    ------------------------------------------------------>
    <article class="row justify-content-center separate-bottom">
      <aside class="col">
        <div class="text-center">
          <img src="{{ asset('images/icons/coin.png') }}" alt="">
        </div>
        <p class="text-center mt-3">Faites des économies</p>
      </aside>
      <aside class="col">
        <div class="text-center">
          <img src="{{ asset('images/icons/diet.png') }}" alt="">
        </div>
        <p class="text-center mt-3">Profitez de produits frais</p>
      </aside>
      <aside class="col">
        <div class="text-center">
          <img src="{{ asset('images/icons/salad.png') }}" alt="">
        </div>
        <p class="text-center mt-3">Régalez-vous</p>
      </aside>
      <aside class="col">
        <div class="text-center">
          <img src="{{ asset('images/icons/planet-earth.png') }}" alt="">
        </div>
        <p class="text-center mt-3">Restaurant assotiatif</p>
      </aside>
    </article>

    <!-- HILIGHT
    ------------------------------------------------------>
    <article class="row" id="day-menu">
      <aside class="col">
        <img id="parralax1" src="{{ asset('images/parralax-home-image1.jpg') }}" alt="">
      </aside>
      <aside class="col">
        <img id="parralax1" src="{{ asset('images/parralax-home-image1.jpg') }}" alt="">
      </aside>
      <aside class="col">
        <img id="parralax1" src="{{ asset('images/parralax-home-image1.jpg') }}" alt="">
      </aside>
    </article>

    <!-- DAY MENU
    ------------------------------------------------------>
    <hr>
    <h2>Menus</h2>
    <article id="home-menu" class="row justify-content-center mt-5" id="day-menu">
    {% for menu in threeLastMenus %}
      <aside class="col-4" id="day-menu-elt">
        <div class="card mb-3">
          <img style="height: 270px; width: 100%; display: block;" src="{{ asset('images/icons/menu.jpg') }}" alt="Card image">
          <div class="card-body menu-header">
            <h2 class="card-header">{{ menu.name }}</h2>
            <h4 class="text-right text-light">{{ menu.price }} €</h4>
            <p class="card-text">{{ menu.description | raw }}</p>
          </div>
          <ul class="list-group list-group-flush">
            {% for foodtype in  menu.foodtypes %}
              <li class="list-group-item menu-header pt-5">
                <h4>{{ foodtype.typeFood.title }}</h4><br>
                <h6>{{ foodtype.title }}</h6><br>
                <p>{{ foodtype.description }}</p></li>
            {% endfor %}
          </ul>
          <div class="card-body text-center menu-header">
            <a href="{{ path('menu') }}" class="btn btn-danger">Voir tous les menus</a>
          </div>
        </div>
      </aside>
    {% endfor %}

    </article>

    <!-- 3 LAST NEWS
    ------------------------------------------------------>
    <hr class="separate-top">
    <h2>Derniers articles</h2>
    <article class="row  my-5 justify-content-center">
      {% for article in threeLast %}
        <aside class=" col-4 content">
          <h4 class="my-3">{{ article.title | slice(0, 10) }}</h4>
          <small class="form-text text-muted">{{ article.createdAt | date('d/m/Y à H:i') }} par author</small>
          {% set break = false %}
          {% for picture in courgette_data.allPictures if not break %}
            {% if picture.blog.id == article.id %}
              <img width="100%" src="{{ asset('images/uploaded/'~picture.name | e) }}" alt="{{ picture.alt }}">
              {% set break = true %}
            {% endif %}
          {% endfor %}
          <p>{{ article.content | slice(0, 100) | raw }}...</p>
          <a href="{{ path('blog_show', {'id': article.id}) }}" class="my-3 btn btn-primary">Lire la news</a>
        </aside>
      {% endfor %}
    </article>

  </section>

{% endblock %}
