<p>
    Bonjour, <br>
    Cliquez sur ce lien pour changer votre mot de passe.
    {# pour que cela fonctionne, il est indispensable que le lien soit absolu. #}
    <a href="{{absolute_url(path('resetting', {'id': user.id, 'token': user.token}))}}">Changer le mot de passe</a>
</p>
