{% extends 'base.html.twig' %}

{% block body %}
  {% block header %}{% endblock %} <!-- Hide header -->

  <!-- MAIN NAV MENU
  ------------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand py-0 my-0" href="{{ path("home") }}">
      <img  width="100px" class="py-0 my-0" src="{{ asset('images/icons/logo.png') }}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path("home") }}">accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("menu") }}">menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("resto") }}">restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("blog_index", {'page' : 1}) }}">actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("contact") }}">contact</a>
        </li>
      </ul>
      <div class="container">
        <div class="d-flex justify-content-end">
        {% if not app.user %}
          <a class="btn btn-primary btn-sm" href="{{ path("login") }}" role="button">Connexion</a>
          <a class="btn btn-primary btn-sm ml-3" href="{{ path("user_registration") }}" role="button">Inscription</a>
        {% else %}
          <a class="btn btn-primary btn-sm" href="{{ path("logout") }}" role="button">Deconnexion</a>
          <a class="btn btn-primary btn-sm ml-3" href="{{ path("dashboard_home") }}" role="button">Mon compte</a>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <!-- DASHBOARD CONTENT
  ------------------------------------------------------>
  <section class="row">

    <!-- DASHBOARD NAV
    ------------------------------------------------------>
    {% set menuClass = 'menu-header text-white list-group-item list-group-item-action d-flex justify-content-between align-items-center' %}

    <nav class="col-3 position-absolute">
      <div class="list-group" id="dashboard-nav">
        <h2 class="list-group-item menu-header text-white pt-5 pb-3 text-left text-white">dashboard</h2>
        <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "dashboard_home" ? 'active' : '' }}" href="{{ path('dashboard_home') }}">Mes infos</a>
        <a class="pb-3 {{ menuClass }} {{ app.request.attributes.get('_route') == "alluser" ? 'active' : '' }}" href="{{ path('alluser') }}">Gestion des membres</a>
        {% if is_granted('ROLE_EDIT') %}
          <h2 class="list-group-item menu-header text-white pt-5 pb-3 text-left text-white">blog</h2>
          <a style="border-top-style: none !important" class="{{ menuClass }} {{ app.request.attributes.get('_route') == "blog_create" ? 'active' : '' }}" href="{{ path('blog_create') }}">Créer un article</a>
        {% endif %}
        {% if is_granted('ROLE_MODO') %}
          <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "blog_admin_index" ? 'active' : '' }}" href="{{ path('blog_admin_index', {'page': 1}) }}">Modifier les articles
            <span class="badge badge-danger badge-pill ml-5">{{ courgette_data.nbBlogs > 0 ? courgette_data.nbBlogs : '' }}</span>
          </a>
        {% endif %}
        {% if is_granted('ROLE_MODO') %}
          <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "blog_trash_index" ? 'active' : '' }}" href="{{ path('blog_trash_index') }}">Corbeille des articles
            <span class="badge badge-danger badge-pill">{{ courgette_data.nbTrashed > 0 ? courgette_data.nbTrashed : '' }}</span>
          </a>
        {% endif %}
        {% if is_granted('ROLE_MODO') %}
          <a class="pb-3 {{ menuClass }} {{ app.request.attributes.get('_route') == "blog_moderate_index" ? 'active' : '' }}" href="{{ path('blog_moderate_index', {'page': 1}) }}">Modérer les articles
            <span class="badge badge-danger badge-pill">{{ courgette_data.nbBlogsModerate > 0 ? courgette_data.nbBlogsModerate : '' }}</span>
          </a>
          <h2 class="list-group-item menu-header text-white pt-5 pb-3 text-left text-white">reservations</h2>
          <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "reservation_create" ? 'active' : '' }}" href="{{ path("reservation_create") }}">Réserver</a>
          <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "show_reservation" ? 'active' : '' }}" href="{{ path('show_reservation') }}">Voir les reservations</a>
          <a class="pb-3 {{ menuClass }} {{ app.request.attributes.get('_route') == "show_reservation_now" ? 'active' : '' }}" href="{{ path('show_reservation_now') }}">reservation du jour</a>
          <h2 class="list-group-item menu-header text-white pt-5 pb-3 text-left text-white">menu</h2>
          <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "menu_create" ? 'active' : '' }}" href="{{ path('menu_create') }}">Créer un menu</a>
          <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "categorieFood_create" ? 'active' : '' }}" href="{{ path('categorieFood_create') }}">Créer une catégorie</a>
          <a class="pb-3 {{ menuClass }} {{ app.request.attributes.get('_route') == "admin_menu" ? 'active' : '' }}" href="{{ path('admin_menu') }}">Liste des menus</a>
          <h2 class="list-group-item menu-header text-white pt-5 pb-3 text-left text-white">carte</h2>
          <a class="{{ menuClass }} {{ app.request.attributes.get('_route') == "create_card_categorie" ? 'active' : '' }}" href="{{ path('create_card_categorie') }}">Ajouter une catégorie dans la carte</a>
          <a class="pb-3 {{ menuClass }} {{ app.request.attributes.get('_route') == "card_create" ? 'active' : '' }}" href="{{ path('card_create') }}">Ajouter un élément</a>
        {% endif %}
        {% if is_granted('ROLE_MODO') %}
          <h2 class="list-group-item menu-header text-white pt-5 pb-3 text-left text-white">Gestion date</h2>
          <a class="pb-5 {{ menuClass }} {{ app.request.attributes.get('_route') == "date_closed" ? 'active' : '' }}" href="{{ path('date_closed') }}">Date fermeture</a>
        {% endif %}
      </div>
    </nav>

    <!-- DASHBOARD TEMPLATE
    ------------------------------------------------------>
    <article class="col-9 offset-3">
      {% block dashboard %}{% endblock %}
    </article>

  </section>

  {% block footer %}{% endblock %} <!-- Hide footer -->


{% endblock %}