{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- BLOG INDEX CONTENT
  ------------------------------------------------------>
  <h2 class="my-5">Mon compte</h2>
  <div class="d-flex align-items-center flex-column my-5">
    <img height="100px" width="100px" src="{{ asset("images/icons/user-icon.png") }}" alt="user-icons"><br />
    <h5>Bonjour {{ user.username }}</h5>
  </div>

  <section class="row justify-content-center my-5">

    <article class="col-5">
      <h5>Voici votre Panneau de controle </h5>
      <p>Votre nom : {{ user.lastname is empty ? "non-renseigné" : user.lastname  }} </p>
      <p>Votre prénom : {{ user.firstname is empty ? "non-renseigné" : user.firstname }}</p>
      <p>Votre numéro de téléphone : {{ user.phone is empty ? "non-renseigné" : user.phone }}</p>
      <p>Votre mail : {{ user.mail is empty ? "non-renseigné" : user.mail }}</p>
      <p>Votre adresse :{{ user.zip }} {{ user.adress is empty ? "non-renseigné" : user.adress}} </p>
      <a href="{{ path('updateinfo',{'id': app.user.id}) }}" class="btn btn-primary btn-sm">Mettre a jour</a>
    </article>

    <article class="col-5">
      <h5>Modifier votre mot de passe</h5>
      <a href="{{ path('updatemdp',{'id': app.user.id}) }}" class="btn btn-primary btn-sm">Mettre a jour le MDP</a>
    </article>

  </section>



{% endblock %}