{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" >
    {% for category in cardCategory %}
    <div class="card">
      <div class="card-header">{{ category.title }}</div>
       {% for card in cards %}
            {% if card.category.id == category.id %} 
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="col-3"><h5>{{ card.title }}</h5></td>
                        <td class="col-5"><p>{% if card.content %}{{ card.content }}{% endif %}<p></td>
                        <td class="col-2">{{ card.pricing }} <span>€</span></td>
                        <td><a clas="ml-auto" href="{{ path('card_remove', {'id' : card.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                        <a clas="ml-auto" href="{{ path('card_update', {'id' : card.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        {% endfor %} 
    </div>
    {% endfor %}
    </section>
{% endblock %}