{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- BLOG INDEX CONTENT
  ------------------------------------------------------>
  <h2 class="my-5">Créer une catégorie de menu</h2>
  <section class="row justify-content-center mr-4">
    <article class="col">
      <aside>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </aside>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Categorie</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
          <tr>
            <td class="col-3"><h5>{{ categorie.title }}</h5></td>
            <td>
              <a href="{{ path('categorie_remove', {'id' : categorie.id}) }}" class="admin-button btn btn-primary btn-sm">Modifier</a>
              <a href="{{ path('categorie_update', {'id' : categorie.id}) }}" class="admin-button btn btn-danger btn-sm">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if categories is empty %}
        <aside class="my-5">
          <h5 class="my-5 text-center">Aucune catégorie n'a été publié</h5>
        </aside>
      {% endif %}
    </article>
  </section>

{% endblock %}