
{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}


{% for message in app.flashes('notice') %}
    <div class="flash-notice alert alert-success">
      
    <strong>Sauvegarde reussi !</strong>
  
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form) }}


   {{ form_row(form.category) }}
   {{ form_row(form.title, {'label': 'Nom'}) }}
   {{ form_row(form.content, {'label': 'Description (non obligatoire)'}) }}
   {{ form_row(form.pricing, {'label': 'Prix'}) }} 
   


 <button type="submit" class="btn btn-success" >
    {% if edit %} 
    Enregistrer les modifications 
    {% else %} 
    Enregistrer l'élément 
    {% endif %}
 </button>
{{ form_end(form) }}

{% endblock %}