{% extends 'base.html.twig' %}



{% block body %}


  <h2>Supprimer un menu</h2>


  <p>

    Etes-vous certain de vouloir supprimer l'annonce "{{ menu.title }}" ?

  </p>


  {# On met l'id de l'annonce dans la route de l'action du formulaire #}

  <form action="{{ path('menu_remove', {'id': menu.id}) }}" method="POST">

    <a href="{{ path('show_menu_id', {'id': menu.id}) }}" class="btn btn-default">

      <i class="glyphicon glyphicon-chevron-left"></i>

      Retour à l'annonce

    </a>

    {# Ici j'ai écrit le bouton de soumission à la main #}

    <input type="submit" value="Supprimer" class="btn btn-danger" />

    {# Ceci va générer le champ CSRF #}

    {{ form_rest(form) }}

  </form>


{% endblock %}