{% extends 'base.html.twig' %}

{% block body %}

  <!-- BANNER
  ------------------------------------------------------>
  {% block topSlider %}{% endblock %}
  <header class="masthead2">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-white">les menus</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">voir les menus</a>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">réserver</a>
      </div>
    </div>
  </header>

  <section class="row justify-content-center m-5">
    <div class="col-9">

      <!-- MENUS
      ------------------------------------------------------>
      <hr class="separate-top">
      <h2>Menus</h2>
      <article id="home-menu" class="row justify-content-center mt-5" id="day-menu">
        {% for menu in menus %}
          <aside class="col-4" id="day-menu-elt">
            <div class="card mb-3">
              <img style="height: 230px; width: 100%; display: block;" src="{{ asset('images/icons/menu.jpg') }}"
                   alt="Card image">
              <div class="card-body menu-header">
                <h2 class="card-header">{{ menu.name }}</h2>
                <h4 class="text-right text-light">{{ menu.price }} €</h4>
                <p class="card-text">{{ menu.description | raw }}</p>
              </div>
              <ul class="list-group list-group-flush">
                {% for foodtype in  menu.foodtypes %}
                  <li class="list-group-item menu-header pt-5">
                    <h4>{{ foodtype.typeFood.title }}</h4><br>
                    <h6>{{ foodtype.title }}</h6><br>
                    <p>{{ foodtype.description }}</p></li>
                {% endfor %}
              </ul>
              <div class="card-body text-center menu-header">
                <a class="btn btn-danger" href="{{ path("reservation_create") }}">Reserver</a>
              </div>
            </div>
          </aside>
        {% endfor %}
      </article>
      <hr class="separate-top">
      <h2>Coupon de réduction</h2>
      <section id="home-menu" class="row justify-content-center mt-5">
        <article class="col">
          <img width="100%" src="{{ asset('images/icons/coupon.jpg') }}" alt="coupon">
        </article>
        <article class="col">
          <img width="100%" src="{{ asset('images/icons/coupon.jpg') }}" alt="coupon">
        </article>
      </section>
    </div>
  </section>



{% endblock %}
