{% extends 'base.html.twig' %}

{% block body %}

  {% block topSlider %}{% endblock %} <!-- Hide header -->

  <!-- LOGIN FORM
  ------------------------------------------------------>
  <section class="row justify-content-center my-5">
    <article class="col-6">
      <div class="modal-dialog" role="document">
        <div class="modal-content p-5">
          <div class="text-center">
            <img class="text-center" id="main-logo" src="{{ asset('images/icons/logo.png') }}" alt="logo">
          </div>
          <h3 class="my-5 text-center">Formulaire connexion</h3>
          <form action="{{ path('login') }}" method="post" class="my-5">
            <fieldset>
              <div class="form-row">
                <div class="form-group col">
                  <label for="username">Pseudo</label>
                  <input class="form-control is-invalid" type="text" id="username" name="_username" id="inputInvalid"
                         value="{{ last_username }}"/>
                  <small class="form-text text-danger">
                    {{ error ? "Pseudo ou mot de passe incorect" : "" }}
                  </small>
                </div>
                <div class="form-group col">
                  <label for="password">Mot de passe</label>
                  <input class="form-control" type="password" name="_password"/>
                </div>
              </div>
              <small class="form-text text-muted mb-4">
                <a href="{{ path('resend_pass') }}">Mot de passe oublié ?</a>
              </small>
              <button type="submit" class="btn btn-primary text-center">Se connecter</button>
            </fieldset>
          </form>
        </div>
      </div>
    </article>
  </section>

  {% block bottomSlider %}{% endblock %} <!-- Hide footer -->

{% endblock %}
