<!doctype html>


<html class="no-js" lang="fr">


<head>
  <!-- META
  ------------------------------------------------------>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- TITLE
  ------------------------------------------------------>
  <title>Restaurant une vie de courgette</title>
  <!-- ICONS & MANIFEST
  ------------------------------------------------------>
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="{{ asset('images/icons/logo.png') }}">
  <link rel="icon" type="image/png" href="{{ asset('images/icons/logo.png') }}"/>
  <!-- JAVASCRIPT
  ------------------------------------------------------>
  {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.1/jquery.timepicker.js"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/reservation.js') }}"></script>
    <script type="text/javascript">$(function () {$('textarea.ckeditor').ckeditor();});</script>
    <script src="{{ asset('js/createMenu.js') }}"></script>
    <script src="{{ asset('js/reservationMenu.js') }}"></script>

  {% endblock %}

  <!-- STYLESHEETS------------------------------------------------------>
  {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.1/jquery.timepicker.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
  {% endblock %}
</head>


<body>

<!--[if lte IE 9]>
<p class="browserupgrade">Vous utilisez un navigateur <strong>obselète</strong>. S'il vous plaît<a
    href="https://browsehappy.com/">mettez à jour votre navigateur</a>pour améliorer votre éxperience et votre sécurité.
</p>
<![endif]-->

{% block header %}
  <header>

    <!-- MAIN NAV MENU
    ------------------------------------------------------>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path("home") }}">
          <img id="main-logo" src="{{ asset('images/icons/logo.png') }}" alt="logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path("home") }}">accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("menu") }}">menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("resto") }}">restaurant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("blog_index", {'page' : 1}) }}">actualités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("contact") }}">contact</a>
            </li>
          </ul>
          <div class="container">
            <div class="d-flex justify-content-end">
              {% if not app.user %}
                <a class="btn btn-primary btn-sm" href="{{ path("login") }}" role="button">Connexion</a>
                <a class="btn btn-primary btn-sm ml-3" href="{{ path("user_registration") }}" role="button">Inscription</a>
              {% else %}
                <a class="btn btn-primary btn-sm" href="{{ path("logout") }}" role="button">Deconnexion</a>
                <a class="btn btn-primary btn-sm ml-3" href="{{ path("dashboard_home") }}" role="button">Mon compte</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- TOP SLIDER
    ------------------------------------------------------>
    {% block topSlider %}
      <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
          <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Restaurant COURGETTE</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Restaurant associatif de la ville de béziers</h2>
            <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">voir les menus</a>
            <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">réserver</a>
          </div>
        </div>
      </header>
    {% endblock %}

  </header>
{% endblock %}

<!-- SITE CONTENT
------------------------------------------------------>
<main class="fluid-container">
  {% block body %}{% endblock %}
</main>

<!-- FOOTER
------------------------------------------------------>
{% block footer %}
  <footer class="separate-top">

    <!-- FOOTER CONTENT
    ------------------------------------------------------>
    <article id="wood-elt" class="row">
    </article>
    <article id="footer" class="row pt-5 pb-5">
      <div class="col">
        <h5 class="my-3">Liens utiles</h5>
        <ul>
          <li>
            <a href="http://www.herault.fr/enfance-famille">Le Conseil Général de l'Hérault, rubrique Famille et enfance</a>
          </li>
          <li>
            <a href="http://www.ville-beziers.fr/beziers_pratique/03.cfm">Ville de Béziers, la petite enfance</a>
          </li>
          <li>
            <a href="http://www.ville-beziers.fr/demarches/index.cfm">Les démarches administratives à Béziers</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="my-3">Liens algomérations</h5>
        <ul>
          <li><a href="http://www.colombiers.com">Ville de Colombiers</a></li>
          <li><a href="http://www.cazoulslesbeziers.com">Ville de Cazouls-lès-Béziers </a></li>
          <li><a href=" http://www.faugeres34.fr">Ville de Faugères</a></li>
          <li><a href="http://www.bedarieux.fr">Ville de Bédarieux</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="my-3">Résaux sociaux</h5>
        <a href="#"><img src="{{ asset('images/icons/fb-footer.png') }}" class="social-icon" alt=""></a>
        <a href="#"><img src="{{ asset('images/icons/insta-footer.png') }}" class="social-icon" alt=""></a>
      </div>
      <div class="col">
        <h5 class="my-3">Newsletter</h5>
        <form action="#" method="post">
          <div class="form-group my-2">
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-group my-2 text-center">
            <div class="g-recaptcha" data-sitekey="6Ldvu28UAAAAAMLnFiaInUm-E3Jal60Yq8FDVLzR"></div>
          </div>
          <button type="submit" class="btn btn-warning my-2">S'abonner</button>
        </form>
      </div>
    </article>

  </footer>
{% endblock %}

</body>


</html>