{% extends 'base.html.twig' %}

{% block body %}

  <!-- BANNER
  ------------------------------------------------------>
  {% block topSlider %}{% endblock %}
  <header class="masthead2">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-white">Actualités</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">voir les menus</a>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">réserver</a>
      </div>
    </div>
  </header>

  <!-- BLOG CONTENT
   ------------------------------------------------------>
  <section class="row m-5 justify-content-center">

    <section class="col-8">

      <!-- THREE LAST ARTICLES
      ------------------------------------------------------>
      <h2 class="mb-5 separate-top">derniers article</h2>
      <article class="row  my-5 justify-content-center">
        {% for oneBlog in threeLast %}
          <aside class=" col-4 content">
            <h4 class="my-3">{{ oneBlog.title | slice(0, 10) }}</h4>
            <h5>{{ oneBlog.category.name }}</h5>
            <small class="form-text text-muted">{{ oneBlog.createdAt | date('d/m/Y à H:i') }} par author</small>
            {% set break = false %}
            {% for picture in courgette_data.allPictures if not break %}
              {% if picture.blog.id == oneBlog.id %}
                <img width="100%" src="{{ asset('images/uploaded/'~picture.name | e) }}" alt="{{ picture.name }}">
                {% set break = true %}
              {% endif %}
            {% endfor %}
            <p>{{ oneBlog.content | slice(0, 100) | raw }}...</p>
            <a href="{{ path('blog_show', {'id': oneBlog.id}) }}" class="my-3 btn btn-primary">Lire la news</a>
          </aside>
        {% endfor %}
        {% if threeLast is empty %}
          <aside class="my-5">
            <h5 class="my-5 text-center">Aucun article disponible</h5>
          </aside>
        {% endif %}
      </article>

      <!-- ARTICLES
      ------------------------------------------------------>
      <h2 class="mb-5 separate-top">liste des articles</h2>
      <article class="row my-5 justify-content-center">
        {% for oneBlog in blog %}
          <aside class=" col-12 content">
            <h4 class="my-3">{{ oneBlog.title | slice(0, 10) }}</h4>
            <h5>{{ oneBlog.category.name }}</h5>
            <small class="form-text text-muted">{{ oneBlog.createdAt | date('d/m/Y à H:i') }} par author</small>
            {% set break = false %}
            {% for picture in courgette_data.allPictures if not break %}
              {% if picture.blog.id == oneBlog.id %}
                <img width="100%" src="{{ asset('images/uploaded/'~picture.name|e) }}" alt="{{ picture.name }}">
                {% set break = true %}
              {% endif %}
            {% endfor %}
            <p>{{ oneBlog.content | slice(0, 100) | raw }}...</p>
            <a href="{{ path('blog_show', {'id': oneBlog.id}) }}" class="my-3 btn btn-primary">Voir</a>
          </aside>
        {% endfor %}
        {% if courgette_data.nbBlogsModerate is empty %}
          <aside class="my-5">
            <h5 class="my-5 text-center">Aucun article disponible</h5>
          </aside>
        {% endif %}
      </article>

      <!-- PAGINATION
      ------------------------------------------------------>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% for p in range(1, nbPages) %}
            <li {% if p != page %}class="page-item" {% endif %} class="page-item active">
              <a class="page-link" href="{{ path('blog_index', {'page': p}) }}">{{ p }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

    </section>

    <!-- SIDE NAV
    ------------------------------------------------------>
    {% block article_nav %}
      <saction class="col-3 separate-top">
        <h2 class="mb-5">Catégories</h2>
        <ul class="nav nav-pills flex-column">
          {% for category in courgette_data.allCategorys %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('blog_show_cat', {'id' : category.id }) }}"><h5>{{ category.name }}</h5>
              </a>
            </li>
          {% endfor %}
        </ul>
      </saction>
    {% endblock %}

  </section>

{% endblock %}
