{% extends 'base.html.twig' %}

{% block body %}

  <!-- BLOG CONTENT
   ------------------------------------------------------>
  <section class="row m-5 justify-content-center">

    <section class="col-10">

      <!-- ARTICLES BY CATEGORY
      ------------------------------------------------------>
      <h2 class="mb-5">{{ categoryTitle.name }}</h2>
      <article class="row my-5 justify-content-center">
        {% for oneBlog in blog %}
          <aside class=" col-12 content">
            <h4 class="my-3">{{ oneBlog .title | slice(0, 10) }}</h4>
            <h5>{{ oneBlog.category.name }}</h5>
            <small class="form-text text-muted">{{ oneBlog.createdAt | date('d/m/Y à H:i') }} par author</small>
            {% set break = false %}
            {% for picture in courgette_data.allPictures if not break %}
              {% if picture.blog.id == oneBlog.id %}
                <img width="100%" src="{{ asset('images/uploaded/'~picture.name | e) }}" alt="{{ picture.alt }}">
                {% set break = true %}
              {% endif %}
            {% endfor %}
            <p>{{ oneBlog.content | slice(0, 100) | raw }}...</p>
            <a href="{{ path('blog_show', {'id': oneBlog.id}) }}" class="my-3 btn btn-secondary">Voir</a>
          </aside>
        {% endfor %}
        {% if blog is empty %}
          <aside class="my-5">
            <h5 class="my-5 text-center">Aucun article disponible</h5>
          </aside>
        {% endif %}
      </article>

    </section>

    <section class="col-2">

      <!-- SIDE CATEGORY NAV
      ------------------------------------------------------>
      <article>
        <h2 class="mb-5">Categories</h2>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('blog_index', {'page' : 1}) }}">Tous les articles</a>
          </li>
          {% for category in courgette_data.allCategorys %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('blog_show_cat', {'id' : category.id }) }}">{{ category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </article>

    </section>

  </section>

{% endblock %}


