{% extends 'base.html.twig' %}

{% block body %}

  <!-- BANNER
  ------------------------------------------------------>
  {% block topSlider %}{% endblock %}
  <header class="masthead2">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-white">Article</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">voir les menus</a>
        <a href="{{ path("reservation_create") }}" class="btn btn-danger js-scroll-trigger">réserver</a>
      </div>
    </div>
  </header>

  <!-- BLOG CONTENT
  ------------------------------------------------------>
  <section class="row mx-5 justify-content-center">

    <!-- ARTICLE AREA
    ------------------------------------------------------>
    <section class="col-10">

      <!-- ARTICLE CONTENT
      ------------------------------------------------------>
      <section class="row separate-top justify-content-center">
        <article class=" col-11 content">
          {% set break = false %}
            {% for picture in courgette_data.allpictures if not break %}
              {% if picture.blog.id == blog.id %}
                <div>
                  <img width="100%" src="{{ asset('images/uploaded/'~picture.name | e) }}" alt="{{ picture.alt }}">
                </div>
                {% set break = true %}
              {% endif %}
            {% endfor %}
          <aside class="separate-bottom">
            <p class="form-text text-muted">{{ blog.createdAt | date('d/m/Y à H:i') }} par {{ blog.user.username }}</p>
            <h4 class="my-3">{{ blog.title }}</h4>
            <p>{{ blog.content | raw }}</p>
          </aside>
          <div class="row">
            {% for picture in courgette_data.allpictures %}
              {% if picture.blog.id == blog.id %}
                <div class="col my-3">
                  <a href="{{ picture.name }}" class="thumbnail" data-gallery="gallery1">
                    <img width="100%" src="{{ asset('images/uploaded/'~picture.name | e) }}" alt="{{ picture.alt }}">
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <a href="{{ path('blog_index') }}" class="btn btn-secondary">Retour à la liste des news</a>
        </article>
      </section>

      <!-- COMMENTS AREA
      ------------------------------------------------------>
      <section class="row  my-5 justify-content-center">

        <!-- COMMENT FORM
        ------------------------------------------------------>
        <article class="col-9 mt-5">
          <h2 class="my-3">Commentaires</h2>
          {{ form_start(comment_form) }}
          {{ form_widget(comment_form) }}
          {{ form_end(comment_form) }}
        </article>

        <!-- COMMENT SHOW
        ------------------------------------------------------>
        <article class="col-9">
          {% if comments is empty %}
            <aside class="my-5">
              <p>Aucuns commentaires pour l'instant</p>
            </aside>
          {% else %}
            {% for comment in courgette_data.allComments %}
              <aside class="my-5">
                <h5>Par {{ comment.pseudo | raw }}</h5>
                <small id="fileHelp" class="form-text text-muted">
                  Le {{ comment.createdAt | date('d/m/Y à H:i') }}</small>
                <p>{{ comment.content | raw }}</p>
              </aside>
            {% endfor %}
          {% endif %}
          {% if courgette_data.allComments is empty %}
            <aside class="my-5">
              <h5 class="my-5 text-center">Aucun commentaire</h5>
            </aside>
          {% endif %}
        </article>

    </section>

  </section>

  <!-- SIDE CATEGORY NAV
  ------------------------------------------------------>
  <section class="col-2">
    <article>
      <h2 class="my-5">Categories</h2>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('blog_index') }}">Tous les articles</a>
        </li>
        {% for category in courgette_data.allCategorys %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('blog_show_cat', {'id' : category.id }) }}">{{ category.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </article>

  </section>

  </section>

{% endblock %}
