{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  {% if formHour %}
    {{ form_start(formHour) }}
    {{ form_row(formHour.hourStart, {'label' : 'heure début'} ) }}
    {{ form_row(formHour.hourEnd, {'label' : 'heure fin'}) }}
    <button type="submit" class="btn btn-success">
      Enregistrer l'heure
    </button>
    {{ form_end(formHour) }}
    {% for hour in show_hours %}

      <p> {{ hour.hourStart|date("H:i") }} et {{ hour.hourEnd|date("H:i") }} <a class="btn btn-danger" href="{{ path('hours_open_update', {'id': hour.id}) }}">
          supprimer</a></p>
    {% endfor %}
  {% else %}

    {{ form_start(form) }}
    {{ form_row(form.date) }}
    <br>
    <button type="submit" class="btn btn-success">
      Enregistrer la date
    </button>
    {{ form_end(form) }}
    <h3>Date fermer </h3>

    {% for date in show %}
      <p>{{ date.date|date("d/m/Y") }}
        <a class="btn btn-danger" href="{{ path('date_closed_remove', {'id': date.id}) }}"> supprimer</a>
      </p>

    {% endfor %}
  {% endif %}
{% endblock %}