{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- RESERVATION
  ------------------------------------------------------>
  <h2 class="my-5">Modification des articles</h2>
  <section class="row justify-content-center mr-4">
    <article class="col-8">
    <h4 class="my-5 text-center">Formulaire de création</h4>
    {{ form_start(form) }}
    <div class="form-row my-3">
      <div class="form-group col">
        {{ form_row(form.reservationAt, {'label': 'Date'}) }}
      </div>
      <div class="form-group col">
        {{ form_row(form.hoursAt, {'label': 'Heure'}) }}
      </div>
      <div class="form-group col">
        {{ form_row(form.nbPerson, {'label': 'Nombre de personne', 'attr' :{'min' : '0',  'max': '50'}}) }}
      </div>
    </div>
    <div class="form-group my-3">
      {{ form_row(form.description, {'label': 'Information complémentaire'}) }}
    </div>
    <div class="my-3">
      <a href="#" id="add_menu" class="btn btn-primary">Ajouter un menu</a>
      <input type="submit" class="my-3 btn btn-primary" value="Enregistrer la reservation">
    </div>
    {{ form_end(form) }}
    </article>
  </section>
{% endblock %}