{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <h2 class="my-5">aujourd'hui'hui</h2>
<section class="row justify-content-center mr-4">
    <div  class="col-8 text-center">
      <h4 class="my-4">Les réservations du jour</h4>
    <form action="{{ path("show_reservation_now") }}" method="post">
        <input type="submit" value="Aujourd'hui">
    </form>


{% if reservationDay and total %}
    <h1> il y a {{ reservationDay|length }} reservation pour Ajourd'hui soit au total {{ total }} personne. </h1>

       {% for resa in reservationDay %}

            <div class="card-body">
                <table class="table">
                    <thead>
                        <td class="col-3"> Descritpion</td>
                        <td class="col-3"> Membre ayant reserver</td>
                        <td class="col-1"> Nombre de personne</td>
                        <td class="col-1"> date</td>
                        <td class="col-1"> heure</td>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-3"><h5>{{ resa.description }}</h5></td>
                        </td>
                        <td class="col-3">
                        {% for user in users %}
                            {% if user == resa.user %}
                                {{ user.username }}
                            {% endif %}
                        {% endfor %}</td>
                        <td class="col-1">{{ resa.nbPerson }}</td>
                        <td class="col-1">{{ resa.reservationAt|date("m/d/Y") }}</td>
                        <td class="col-1">{{ resa.hoursAt|date("H:i:s") }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    </section>
{% endblock %}