{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- MODERATE INDEX CONTENT
  ------------------------------------------------------>
  <h3 class="my-5">Modérer les articles</h3>
  <section class="row justify-content-center mr-4">
    <article class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date de création</th>
            <th scope="col">Date de modification</th>
            <th scope="col">Modifications</th>
          </tr>
        </thead>
        <tbody>
        {% for oneBlog in blogsModerate %}
          {% if oneBlog.trash == 0 %}
            <tr>
              <th scope="row">{{ oneBlog.title }}</th>
              <td>{{ oneBlog.user.username }}</td>
              <td>Le {{ oneBlog.createdAt | date('d/m/Y à H:i') }}</td>
              <td>{{ oneBlog.updatedAt ? oneBlog.updatedAt | date('d/m/Y à H:i') : ''}}</td>
              <td>
                <a href="{{ path('blog_show', {'id': oneBlog.id}) }}" class="admin-button btn btn-primary btn-sm">Voir</a>
                <a href="{{ path('blog_update', {'id': oneBlog.id}) }}" class="admin-button btn btn-primary btn-sm">Modifier</a>
                <a href="{{ path('blog_trash', {'id': oneBlog.id }) }}" class="admin-button btn btn-danger btn-sm">Corbeille</a>
                <a href="{{ path('blog_moderate', {'id': oneBlog.id }) }}" class="admin-button btn btn-success btn-sm">Valider</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {% if blogsModerate is empty %}
        <aside class="my-5">
          <h5 class="my-5 text-center">Aucun article à modérer</h5>
        </aside>
      {% endif %}
    </article>
  </section>

  <!-- PAGINATION
  ------------------------------------------------------>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for p in range(1, nbPages) %}
          <li {% if p != page %}class="page-item" {% endif %} class="page-item active" >
            <a class="page-link" href="{{ path('blog_moderate_index', {'page': p}) }}">{{ p }}</a>
          </li>
        {% endfor %}
    </ul>
  </nav>

{% endblock %}