{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- TRASH INDEX CONTENT
  ------------------------------------------------------>
  <h2 class="my-5">Suppression des articles</h2>
  <section class="row justify-content-center mr-4">
    <article class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Date de création</th>
          <th scope="col">Date de modification</th>
          <th scope="col">Modifications</th>
        </tr>
        </thead>
        <tbody>
        {% for oneBlog in blogsTrashed %}
          {% if oneBlog.trash == 1 %}
            <tr>
              <th scope="row">{{ oneBlog.title }}</th>
              <td>{{ oneBlog.user.username }}</td>
              <td>Le {{ oneBlog.createdAt | date('d/m/Y à H:i') }}</td>
              <td>{{ oneBlog.updatedAt ? oneBlog.updatedAt | date('d/m/Y à H:i') : ''}}</td>
              <td>
                <a href="{{ path('blog_show', {'id': oneBlog.id}) }}" class="admin-button btn btn-primary btn-sm">Voir</a>
                <a href="{{ path('blog_untrash', {'id': oneBlog.id}) }}" class="admin-button btn btn-primary btn-sm">Remettre</a>
                <a href="{{ path('blog_delete', {'id': oneBlog.id }) }}" class="admin-button btn btn-danger btn-sm">Supprimer</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {% if blogsTrashed is empty %}
        <aside class="my-5">
          <h5 class="my-5 text-center">La corbeille est vide</h5>
        </aside>
      {% endif %}
    </article>
  </section>

{% endblock %}
