{% extends 'base.html.twig' %}

{% block title %} Nouveau mot de passe {% endblock %}

{% block body %}
    
    {{form_start(form)}}
	    {{form_row(form.plainPassword.first)}}
	    {{form_row(form.plainPassword.second)}}
	    <button class=""  type="submit">Envoyer</button>
    {{form_end(form)}}
    
{% endblock %}
