{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block body %}

<p>Demandez à réinitialiser votre mot de passe en renseignant votre mail.</>

{{form_start(form)}}
    {{form_row(form.email)}}
    <button  type="submit">Envoyer</button>
{{form_end(form)}}

{% endblock %}
