{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="my-5">Contactez-nous</h1>
    <article class="row justify-content-center my-2">
        <aside class="col-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </aside>
    </article>

{% endblock %}