{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
 ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- MANAGE USER
  ------------------------------------------------------>
  <h2 class="my-5">Modification des articles</h2>
  <section class="row justify-content-center mr-4">
    <article class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Date de création</th>
          <th scope="col">Date de modification</th>
          <th scope="col">Modifications</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.username }}</th>
          <td>{{ user.lastname }}</td>
          <td>{{ user.firstname }}</td>
          <td>{% for roles in user.roles %}{{ roles }}{% endfor %}</td>
          <td>
            <form method="POST" action="{{ path('update_user', {'id' : user.id}) }}">
              <select class="form-control" name="role">
                <option value="ROLE_USER">membre</option>
                <option value="ROLE_EDIT">editeur</option>
                <option value="ROLE_MODO">moderateur</option>
                <option value="ROLE_ADMIN">administrateur</option>
              </select>
              <a class="ml-auto" href="{{ path('update_user', {'id' : user.id}) }}"><input type="submit" class="admin-button btn btn-primary btn-sm"></a></input>
            </form>
          </td>
          <td>
            <a class="admin-button btn btn-danger btn-sm" href="{{ path('user_remove', {'id' : user.id}) }}">Suprimer</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </article>
  </section>

{% endblock %}
