{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

     {{ form_start(form) }}
      <button type="submit" class="btn btn-success" >
  
    Enregistrer la categorie
 </button>
{{ form_end(form) }}

    <section class="container" >
    <div class="card">
      <div class="card-header">Les categories</div>
       {% for categorie in categories %}
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="col-3"><h5>{{ categorie.title }}</h5></td>
                        <td><a clas="ml-auto" href="{{ path('update_card_categorie', {'id' : categorie.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                        <a clas="ml-auto" href="{{ path('update_card_categorie', {'id' : categorie.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %} 
    </div>
    
    </section>


{% endblock %}