{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
  {% endfor %}

  <!-- CREATE FORM MENU
  ------------------------------------------------------>
  <h2 class="my-5">Création de menu</h2>
  <section class="row justify-content-center mr-4 mb-5">
    <article class="col">
      <h4 class="mb-4 text-center">Formulaire de création de menus</h4>
      {{ form_start(form) }}
      <div class="form-row">
        <div class="form-group col-9">
          {{ form_row(form.name) }}
        </div>
        <div class="form-group col-3">
          {{ form_row(form.price) }}
        </div>
      </div>
      </div>
      <div class="form-group">
        {{ form_row(form.description) }}
      </div>
      <div class="form-row">
        <div class="col text-center mb-5">
          <h4 class="mt-5 mb-2 text-center">Ajouter des éléments au menu</h4>
          <br><a href="#" id="add_category" class="btn btn-primary">Ajouter un élément</a>
          <button type="submit" class="btn btn-primary">
            {% if edit %}
              Enregistrer les modifications
            {% else %}
              Enregistrer le menu
            {% endif %}
          </button>
        </div>
      </div>
      <div class="modal-content p-5">
        {{ form_row(form.foodtypes) }}
      </div>
      {{ form_end(form) }}
    </article>
  </section>

{% endblock %}