{% extends 'base.html.twig' %}

{% block body %}
  <section class="row my-5 justify-content-center">
    <article class="col-6">
      <div class="card mb-3">
        <h3 class="card-header">Le Menu</h3>
        <h4 class="badge badge-secondary align-left col-3 offset-9">{{ menu.price }} €</h4>
        <div class="card-body">
          <h5 class="card-title">{{ menu.name }}</h5>
          <h6 class="card-subtitle text-muted">{{ menu.description }}</h6>

        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>

        {% for element in menu.foodtypes %}
                
              {% for category in categories  %}
                {% if element.typefood.id == category.id %}
                    {% for key in categories|keys %}
                      {% if key < 1 %}
                        {{ element.typefood.title }}
                      {% endif %}
                   {% endfor %}
                {% endif %}
                {% endfor %}
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><h4>Titre : </h4>{{element.title }}</li>
                          <li class="list-group-item"><h4>Description : </h4>{{element.description}}</li>
                        </ul>
                
  
     {% endfor %}
        <div></div>
        <div class="card-body">
          <a href="{{ path('menu_update', {'id' : menu.id}) }}" class="card-link btn btn-success">Mettre à jour le menu</a>
          <a href="{{ path('menu_remove', {'id' : menu.id}) }}" class="card-link btn btn-danger">Supprimer le menu</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </article>
  </section>
{% endblock %}