{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <h3 class="card-header">La carte</h3>
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <h6 class="card-subtitle text-muted">{{ card.content }}</h6>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        {% for categorie in categories %}
            for
            {% if card.category.id == categorie.id %}
                            {{ categorie.title }}

            {% endif %}
        {% endfor %}
        <div class="mx-auto"><h2><span class="badge badge-success">{{ card.pricing }} €</span></h2></div>
        <div></div>
        <div class="card-body">
          <a href="{{ path('card_update', {'id' : card.id}) }}" class="card-link">Mettre à jour le menu</a>
          <a href="#" class="card-link">Another link</a>
        {# <a href="{{ path('card_remove', {'id' : card.id}) }}" class="card-link btn btn-danger">Supprimer le menu</a>
#}
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
    </div>

{% endblock %}