{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- BLOG INDEX CONTENT
  ------------------------------------------------------>
  <h2 class="my-5">Modification des menus</h2>
  <section class="row justify-content-center mr-4">
    <article class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Prix</th>
          <th scope="col">Date de création</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for oneMenu in menus %}
          {% if (oneMenu.moderate) == 0 %}
            <tr>
              <th scope="row">{{ oneMenu.name }}</th>
              <td>{{ oneMenu.price }} €</td>
              <td>Le {{ oneMenu.createdAt | date('d/m/Y à H:i') }}</td>
              <td>
                <a href="{{ path('menu_remove', {'id' : oneMenu.id}) }}" class="admin-button btn btn-danger btn-sm">Supprimer</a>
                <a href="{{ path('menu_update', {'id' : oneMenu.id}) }}" class="admin-button btn btn-primary btn-sm">Modifier</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {% if menus is empty %}
        <aside class="my-5">
          <h5 class="my-5 text-center">Aucun menu n'a été publié</h5>
        </aside>
      {% endif %}
    </article>
  </section>

{% endblock %}