{% extends 'dashboard/dashboard.html.twig' %}

{% block dashboard %}

  <!-- SHOW FLASH MESSAGES
  ------------------------------------------------------>
  {% for message in app.flashes('notice') %}
    <div id="flash-courgette-notice" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <!-- RESERVATION
    ------------------------------------------------------>
  <h2 class="my-5">Mettre à jour mes informations</h2>
  <section class="row justify-content-center mr-4">
    {% if form %}
      {{ form_start(form) }}
      <div class="form-group row my-4">
        <div class="form-group col">
          {{ form_row(form.firstname) }}
        </div>
        <div class="form-group col">
          {{ form_row(form.lastname) }}
        </div>
        <div class="form-group col">
          {{ form_row(form.phone) }}
        </div>
      </div>
      <div class="form-group row  my-4">
        <div class="form-group col">
          {{ form_row(form.adress) }}
        </div>
        <div class="form-group col">
          {{ form_row(form.zip) }}
        </div>
      </div>
      <div class="form-group my-4">
        {{ form_row(form.submit) }}
      </div>
      {{ form_end(form) }}
    {% endif %}

    {% if form2 %}
      {{ form_start(form2) }}
      <div class="form-group row my-4">
        <div class="form-group col">
          {{ form_row(form2.password) }}
        </div>
        <div class="form-group col">
          {{ form_row(form2.confirm_password) }}
        </div>
      </div>
      <div class="form-group my-4">
        {{ form_row(form2.submit) }}
      </div>
      {{ form_end(form2) }}
    {% endif %}

  </section>

{% endblock %}
